In [18]:
import pandas as pd
import numpy as np
import nltk

In [19]:
data = pd.read_csv('Data/sentiment140.csv')
data

,text,date,user,sentiment,query
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,0,NO_QUERY
1,is upset that he can't update his Facebook by ...,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,0,NO_QUERY
2,@Kenichan I dived many times for the ball. Man...,Mon Apr 06 22:19:53 PDT 2009,mattycus,0,NO_QUERY
3,my whole body feels itchy and like its on fire,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,0,NO_QUERY
4,"@nationwideclass no, it's not behaving at all....",Mon Apr 06 22:19:57 PDT 2009,Karoli,0,NO_QUERY
...,...,...,...,...,...
1599995,Just woke up. Having no school is the best fee...,Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,4,NO_QUERY
1599996,TheWDB.com - Very cool to hear old Walt interv...,Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,4,NO_QUERY
1599997,Are you ready for your MoJo Makeover? Ask me f...,Tue Jun 16 08:40:49 PDT 2009,bpbabe,4,NO_QUERY
1599998,Happy 38th Birthday to my boo of alll time!!! ...,Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,4,NO_QUERY
1599999,happy #charitytuesday @theNSPCC @SparksCharity...,Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,4,NO_QUERY

In [20]:
#remove web addresses, signs
#change to lowercase

import re
import string

def clean_en_text(text):

    text = text.lower()
    text = re.sub('https?://\S+|www\.\S+', '<URL>', text)
    text = re.sub('@\S+', '<MENTION>', text)
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)

    # removing sign
    text = ''.join([i for i in text if ord(i) not in [33, 34, 35, 36, 37, 38,
                                                      39, 40, 41, 42, 43, 44,
                                                      45, 46, 47, 58, 59, 60,
                                                      61, 62, 63, 64, 91, 92,
                                                      93, 94, 95, 96, 123, 124,
                                                      125, 126, 1548, 1567]])
    return text

data['text'] = data['text'].apply(clean_en_text)
data

,text,date,user,sentiment,query
0,MENTION URL awww thats a bummer you shoulda ...,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,0,NO_QUERY
1,is upset that he cant update his facebook by t...,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,0,NO_QUERY
2,MENTION i dived many times for the ball manage...,Mon Apr 06 22:19:53 PDT 2009,mattycus,0,NO_QUERY
3,my whole body feels itchy and like its on fire,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,0,NO_QUERY
4,MENTION no its not behaving at all im mad why ...,Mon Apr 06 22:19:57 PDT 2009,Karoli,0,NO_QUERY
...,...,...,...,...,...
1599995,just woke up having no school is the best feel...,Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,4,NO_QUERY
1599996,thewdbcom very cool to hear old walt intervie...,Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,4,NO_QUERY
1599997,are you ready for your mojo makeover ask me fo...,Tue Jun 16 08:40:49 PDT 2009,bpbabe,4,NO_QUERY
1599998,happy birthday to my boo of alll time tupac a...,Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,4,NO_QUERY
1599999,happy charitytuesday MENTION MENTION MENTION,Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,4,NO_QUERY

In [21]:
# Tokenizing

tokenizer = nltk.tokenize.RegexpTokenizer(r'\w+')
data['text'] = data['text'].apply(lambda x: tokenizer.tokenize(x))
data

,text,date,user,sentiment,query
0,"[MENTION, URL, awww, thats, a, bummer, you, sh...",Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,0,NO_QUERY
1,"[is, upset, that, he, cant, update, his, faceb...",Mon Apr 06 22:19:49 PDT 2009,scotthamilton,0,NO_QUERY
2,"[MENTION, i, dived, many, times, for, the, bal...",Mon Apr 06 22:19:53 PDT 2009,mattycus,0,NO_QUERY
3,"[my, whole, body, feels, itchy, and, like, its...",Mon Apr 06 22:19:57 PDT 2009,ElleCTF,0,NO_QUERY
4,"[MENTION, no, its, not, behaving, at, all, im,...",Mon Apr 06 22:19:57 PDT 2009,Karoli,0,NO_QUERY
...,...,...,...,...,...
1599995,"[just, woke, up, having, no, school, is, the, ...",Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,4,NO_QUERY
1599996,"[thewdbcom, very, cool, to, hear, old, walt, i...",Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,4,NO_QUERY
1599997,"[are, you, ready, for, your, mojo, makeover, a...",Tue Jun 16 08:40:49 PDT 2009,bpbabe,4,NO_QUERY
1599998,"[happy, birthday, to, my, boo, of, alll, time,...",Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,4,NO_QUERY
1599999,"[happy, charitytuesday, MENTION, MENTION, MENT...",Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,4,NO_QUERY